nav .logo{
    position:absolute;
    display: flex;
    padding-top: 50px;
    padding-left: 0%;
    width: 50px;
    max-width: 100px;
}

nav .buscador{
    justify-content:flex-start;
}

nav .menu{

    display:inline-block;
    align-items:flex-start;
   
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 10%;
    font-weight: bold;
    text-decoration: none;
    
}

nav{
    display: flex;
    align-items: center;
    
   
}
.container{
position: relative;

}
input{
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px 0 0 5px;
    border:0;
    outline: none;
}

ul li{
    display:inline-block;
    padding: 0px 20px;
    align-items: center;
    margin-right: 30px;
    text-decoration: none;  
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color:blueviolet;
}
*{
    box-sizing: border-box;
}

body{
  background-color:rgb(233, 169, 182);
  margin: 0;
  padding: 0;

}
img{
    width: 19%;
}
.roow{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}
.column{
    flex: 25%;
    padding: 5px;
}
.column img{
    margin-top: 5px;
}
@media (max-width:600px) {
    .column{
        flex: 50%;
        
    }
}
